@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased h-full;
  }
  body {
    @apply bg-surface-950 text-gray-100 font-sans h-full;
  }
  #root {
    @apply h-full;
  }
}
